.title{
   	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	text-align: center;
}

.filter{
	display: inline-block;
	height:auto;
	width:auto;
	border: 1px solid;
	padding:15px;
}

.search{
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: bold;
}

.shoppingCart{
	font-size: 20px;
	padding-top: 20px;	
}
.radioSelections{

}

.bg{
	background-color: #c3d5d5;
}

.summary{
	background-color: #ffffff;
}
<<<<<<< HEAD

.items{
	font-size:30px;
	font-style:bold;
	font-family:serif;
	padding-left: 20px;
}

.itemList{
	font-size:20px;
	padding-left: 30px;
	padding-top: 20px;
}

.buy{
	position: relative;
	bottom: 0;
	right: 0;
}

.cart{
	border: 2px solid;
	width: 300px;
	height:350px;
	display: inline-block;
	margin-left: 50px;
	position: relative;
}

.information{
	display: inline-block;
	height:auto;
	width:auto;
}
/*.radioSelections{*/
/*	display: inline-block;*/
/*	text-align: center; */
/*	color: red;*/
/*}*/
/*.iframeWindow{*/
/*	display: inline;*/
/*	text-align: center;*/
/*}*/
