.title{
   	font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	text-align: center;
}

.filter{
	display: inline-block;
	height:auto;
	width:auto;
	border: 1px solid;
	padding:15px;
}

.search{
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: bold;
}

.shoppingCart{
	font-size: 20px;
	padding-top: 20px;	
}
.radioSelections{

}

.bg{
	background-color: #ffa85a;
}

.summary{
	background-color: #ffffff;
}

/*.radioSelections{*/
/*	display: inline-block;*/
/*	text-align: center; */
/*	color: red;*/
/*}*/
/*.iframeWindow{*/
/*	display: inline;*/
/*	text-align: center;*/
/*}*/